<link rel="stylesheet" href="@Url.Content("~/CSS/Grid.css")" />
<link rel="stylesheet" href="@Url.Content("~/CSS/style.css")" />
<link rel="stylesheet" href="@Url.Content("~/CSS/font-awesome.min.css")" />

<body>
    <div class="container-fluid bg-black mg-top">
        <div class="container">
            <div class="col-4">
                <div class="logo">
                    3StarsAuto
                </div>
                <div class="footer-content">
                    <p>Come to us to own the best cars and affordable prices.</p>
                </div>
                
                
            </div>
            <div class="col-2">
                <div class="lastest-info footer-content">
                    <h3>Lastest Info</h3>
                    <ul>
                        <li><a href="@Url.Action("Index")">Home</a></li>
                        <li><a href="@Url.Action("ViewCar")">View Cars</a></li>
                        <li><a href="@Url.Action("ViewProducer")">View Producers</a></li>
                        <li><a href="#">Read News</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-6 footer-content">
                <div class="contact-footer">
                    <h3>Contact Infomation</h3>
                </div>             
                <div class="contact-email">
                    <div class="col-2 contact-icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="col-10">
                        <h4>Email</h4>
                        <p>3StarsAuto@gmail.com</p>
                    </div>
                </div>               
                <div class="contact-phone">
                    <div class="col-2 contact-icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="col-10">
                        <h4>Phone Number</h4>
                        <p>0123-456-789</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
