<link rel="stylesheet" href="@Url.Content("~/CSS/Grid.css")" />
<link rel="stylesheet" href="@Url.Content("~/CSS/style.css")" />
<body>
    <div class="container-fluid bg-menu">
        <div class="container">
            <div class="col-3 mg-no">
                <div class="logo">
                    3StarsAuto
                </div>
            </div>
            <div class="col-9 mg-no">
                <div class="menu">
                    <ul>
                        <li><a href="@Url.Action("Index")">Home</a></li>
                        <li><a href="@Url.Action("ViewCar")">View Car</a></li>
                        <li><a href="@Url.Action("ViewProducer")">View Producer</a></li>
                        <li><a href="#">Read News</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Log In/Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</body>
