
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="" />
</head>
<body>
    <div id="MenuTop">
        <div id="menu">
            <ul>
                <li><a href="@Url.Action("Home" , "Home")"</a>Trang Chu</li>
                <li><a href="@Url.Action("Index" , "News")">News</a></li>
                <li><a href="@Url.Action("Index" , "Contact")">Contact</a></li>
                <li><a href="@Url.Action("Login" , "Login")">Login</a></li>
                <li><a href="@Url.Action("Register" , "Register")">Register</a></li>
                <li><a href="#">Log out</a></li>
                
            </ul>
        </div>

    </div>
</body>
</html>
